<template>
    <div class="bg-white mt-20 sm:mt-10">
        <div
            class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
        >
            <h2 class="text-2xl font-semibold tracking-tight text-indigo-500">
                Nos produits
            </h2>
            <div
                class="mt-6 grid grid-cols-2 sm:grid-cols-2 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-3 lg:grid-cols-4 lg:gap-x-8"
            >
                <div
                    v-for="product in productsFiltered"
                    :key="product.id"
                    class="group relative"
                >
                    <ProductCard
                        :product="product"
                        :itemsLiked="props.itemsLiked"
                        v-on:onAddItem="`${emits('onAddItem', product)}`"
                        v-on:onSwitchLike="`${emits('onSwitchLike', product)}`"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { onMounted, ref, watch } from "vue";

import ProductCard from "../components/ProductCard.vue";

const products = ref([]);
const productsFiltered = ref([]);

onMounted(() => {
    fetch("https://fakestoreapi.com/products")
        .then((res) => res.json())
        .then((data) => {
            products.value = data;
            productsFiltered.value = data;
        });
});

watch(
    () => props.searchKey,
    (value) => {
        fetch("https://fakestoreapi.com/products")
            .then((res) => res.json())
            .then((data) => {
                products.value = data;
            });
        productsFiltered.value = products.value.filter((prod) =>
            prod.title.toUpperCase().includes(value.toUpperCase())
        );
    }
);

const props = defineProps({
    searchKey: "",
    itemsLiked: Array,
});

const emits = defineEmits(["onAddItem", "onSwitchLike"]);
</script>
