<template>
    <div class="bg-white mt-20 sm:mt-10">
        <div
            class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
        >
            <div class="lg:grid lg:grid-cols-2 lg:items-center lg:gap-x-8">
                <div as="div" class="flex flex-col-reverse">
                    <div class="aspect-w-1 aspect-h-1 w-full">
                        <img
                            :src="product?.image"
                            class="h-full px-10 w-full object-contain object-center sm:rounded-lg"
                        />
                    </div>
                </div>
                <div class="mt-4 sm:mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
                    <h1 class="text-3xl font-smibold text-gray-900">
                        {{ product?.title }}
                    </h1>
                    <p class="mt-3 text-lg text-gray-500 capitalize">
                        {{ product?.category }}
                    </p>
                    <div class="mt-3 flex items-center gap-x-2">
                        <div class="flex items-center">
                            <div class="flex items-center">
                                <StarIcon
                                    v-for="rating in [0, 1, 2, 3, 4]"
                                    :key="rating"
                                    :class="[
                                        product?.rating?.rate > rating
                                            ? 'text-yellow-400'
                                            : 'text-gray-200',
                                        'flex-shrink-0 h-6 w-6',
                                    ]"
                                />
                            </div>
                        </div>
                        <p class="text-base text-gray-500">
                            {{ product?.rating?.count }} reviews
                        </p>
                    </div>
                    <div class="mt-3">
                        <p class="text-2xl font-semibold text-indigo-500">
                            {{ product?.price }}€
                        </p>
                    </div>
                    <div class="mt-6">
                        <div class="space-y-6 text-base text-gray-700">
                            {{ product?.description }}
                        </div>
                    </div>
                    <form class="mt-6">
                        <div class="sm:flex-col1 mt-10 flex">
                            <button
                                v-if="
                                    !props.cartItems.find(
                                        (item) => item.id === product.id
                                    )
                                "
                                class="flex max-w-xs flex-1 items-center justify-center rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full"
                                v-on:click.prevent="
                                    () => emits('onAddItem', product)
                                "
                            >
                                Ajouter au panier
                            </button>

                            <span
                                v-if="
                                    props.cartItems.find(
                                        (item) => item.id === product.id
                                    )
                                "
                                class="isolate inline-flex rounded-md shadow-sm"
                            >
                                <button
                                    type="button"
                                    v-on:click.prevent="
                                        () => emits('onDeleteItem', product)
                                    "
                                    class="relative inline-flex items-center rounded-l-md bg-indigo-600 py-3 px-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full"
                                >
                                    <MinusIcon
                                        class="h-5 w-5"
                                        aria-hidden="true"
                                    />
                                </button>
                                <p
                                    class="relative inline-flex items-center bg-indigo-600 py-3 px-3 text-base font-medium text-white sm:w-full"
                                >
                                    {{
                                        props.cartItems.find(
                                            (item) => item.id === product.id
                                        ).quantity
                                    }}
                                </p>
                                <button
                                    type="button"
                                    v-on:click.prevent="
                                        () => emits('onAddItem', product)
                                    "
                                    class="relative -ml-px inline-flex items-center rounded-r-md bg-indigo-600 py-3 px-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full"
                                >
                                    <PlusIcon
                                        class="h-5 w-5"
                                        aria-hidden="true"
                                    />
                                </button>
                            </span>

                            <div
                                class="ml-4 flex items-center justify-center rounded-md py-2 px-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500"
                            >
                                <HeartIcon
                                    v-if="
                                        !props.itemsLiked.find(
                                            (item) => item === product.id
                                        )
                                    "
                                    class="h-8 w-8 flex-shrink-0 cursor-pointer"
                                    aria-hidden="true"
                                    v-on:click.prevent="
                                        () => emits('onSwitchLike', product)
                                    "
                                />
                                <HeartIconSolid
                                    v-if="
                                        props.itemsLiked.find(
                                            (item) => item === product.id
                                        )
                                    "
                                    class="h-8 w-8 flex-shrink-0 text-red-500 cursor-pointer"
                                    aria-hidden="true"
                                    v-on:click.prevent="
                                        () => emits('onSwitchLike', product)
                                    "
                                />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { onMounted, ref, watch } from "vue";
import { useRoute } from "vue-router";

import {
    StarIcon,
    HeartIcon as HeartIconSolid,
    PlusIcon,
    MinusIcon,
} from "@heroicons/vue/20/solid";
import { HeartIcon } from "@heroicons/vue/24/outline";

const route = useRoute();
const product = ref({});

onMounted(() => {
    fetch(`https://fakestoreapi.com/products/${route.params.id}`)
        .then((res) => res.json())
        .then((data) => (product.value = data));
});

watch(
    () => route.params.id,
    (value) => {
        fetch(`https://fakestoreapi.com/products/${value}`)
            .then((res) => res.json())
            .then((data) => (product.value = data));
    }
);

const props = defineProps({
    searchKey: "",
    itemsLiked: Array,
    cartItems: Array,
});

const emits = defineEmits(["onAddItem", "onDeleteItem", "onSwitchLike"]);
</script>
