<template>
    <RouterLink :to="href" class="lg:flex lg:items-center">
        <div
            type="button"
            class="flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >
            <div class="h-6 w-6">
                <slot></slot>
            </div>
        </div>
    </RouterLink>
</template>

<script setup>
import { RouterLink } from "vue-router";

const props = defineProps({
    alt: String,
    href: String,
});
</script>
