<template>
    <div as="nav" class="bg-white shadow fixed top-0 left-0 right-0 z-10">
        <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
            <div class="flex h-16 justify-between">
                <div class="flex px-2 lg:px-0 w-full">
                    <RouterLink
                        to="/"
                        class="flex flex-shrink-0 items-center text-indigo-500 text-xl font-semibold"
                    >
                        Omozon
                    </RouterLink>
                    <div
                        class="hidden md:flex flex-1 items-center justify-center pl-2 lg:pr-2 lg:ml-6 md:justify-start"
                    >
                        <div class="w-full max-w-lg lg:max-w-xs">
                            <div class="relative">
                                <div
                                    class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
                                >
                                    <MagnifyingGlassIcon
                                        class="h-5 w-5 text-gray-400"
                                        aria-hidden="true"
                                    />
                                </div>
                                <input
                                    id="search"
                                    name="search"
                                    class="block w-full rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 leading-5 placeholder-gray-500 focus:border-indigo-500 focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm"
                                    placeholder="Rechercher"
                                    type="search"
                                    :value="searchKey"
                                    v-on:input="
                                        (event) => this.$emit('onChange', event)
                                    "
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="flex space-x-6 lg:space-x-10 items-center px-2 lg:px-0"
                >
                    <NavBarItem alt="WishList" href="../wish-list">
                        <component :is="HeartIcon"></component>
                    </NavBarItem>
                    <Popover class="lg:relative">
                        <div class="lg:flex lg:items-center">
                            <PopoverButton
                                type="button"
                                class="flex flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500"
                            >
                                <div class="h-6 w-6">
                                    <ShoppingCartIcon />
                                </div>
                                <span
                                    class="ml-2 text-sm font-medium text-gray-500 group-hover:text-gray-800"
                                >
                                    {{ this.$props.countCartItems }}
                                </span>
                            </PopoverButton>
                        </div>
                        <transition
                            enter-active-class="transition ease-out duration-200"
                            enter-from-class="opacity-0"
                            enter-to-class="opacity-100"
                            leave-active-class="transition ease-in duration-150"
                            leave-from-class="opacity-100"
                            leave-to-class="opacity-0"
                        >
                            <PopoverPanel
                                class="absolute pt-10 md:pt-0 inset-x-0 top-16 mt-px bg-white shadow-lg sm:px-2 lg:top-full lg:left-auto lg:right-0 lg:mt-3 lg:-mr-1.5 lg:w-80 lg:rounded-lg lg:ring-1 lg:ring-black lg:ring-opacity-5"
                            >
                                <form
                                    :class="`${
                                        this.$props.countCartItems > 0
                                            ? 'mx-auto max-w-2xl px-4'
                                            : 'hidden'
                                    }`"
                                >
                                    <ul
                                        role="list"
                                        class="divide-y divide-gray-200"
                                    >
                                        <RouterLink
                                            :to="`../product/` + item.id"
                                            v-for="item in cartItems"
                                            :key="item.id"
                                            class="flex items-center py-6"
                                        >
                                            <img
                                                :src="item.image"
                                                :alt="item.title"
                                                class="h-16 w-16 object-contain object-center p-1 flex-none rounded-md border border-gray-200"
                                            />
                                            <div class="ml-4 flex-auto">
                                                <h3
                                                    class="text-sm text-gray-700 font-semibold"
                                                >
                                                    {{ item.title }}
                                                </h3>
                                                <div
                                                    class="flex justify-between"
                                                >
                                                    <p class="text-sm text-gray-500">
                                                        {{ item.price }}€
                                                    </p>
                                                    <p class="text-sm text-gray-500">
                                                        x {{ item.quantity }}
                                                    </p>
                                                </div>
                                            </div>
                                        </RouterLink>
                                        <div
                                            class="flex items-center justify-between pt-4 pb-6"
                                        >
                                            <p
                                                class="text-sm text-gray-700 font-semibold"
                                            >
                                                Total :
                                            </p>
                                            <p
                                                class="text-sm font-semibold text-indigo-600"
                                            >
                                                {{
                                                    this.$props.totalCartItems
                                                }}€
                                            </p>
                                        </div>
                                    </ul>
                                    <button
                                        type="submit"
                                        class="w-full rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50"
                                    >
                                        Passer au paiement
                                    </button>
                                    <p class="mt-4 pb-6 text-center">
                                        <RouterLink
                                            to="../shopping-cart"
                                            class="text-sm font-medium text-indigo-600 hover:text-indigo-500"
                                        >
                                            Voir mon panier
                                        </RouterLink>
                                    </p>
                                </form>
                                <div
                                    :class="`${
                                        this.$props.countCartItems === 0
                                            ? 'mx-auto max-w-2xl px-4'
                                            : 'hidden'
                                    }`"
                                >
                                    <div
                                        class="flex flex-col gap-y-6 items-center justify-center py-6"
                                    >
                                        <p class="font-medium text-gray-900">
                                            Votre panier est vide...
                                        </p>
                                        <RouterLink
                                            to="/"
                                            class="w-full rounded-md text-center border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50"
                                        >
                                            Continuer mes achats
                                        </RouterLink>
                                    </div>
                                </div>
                            </PopoverPanel>
                        </transition>
                    </Popover>
                </div>
            </div>
            <div class="w-full px-2 pb-4 md:hidden">
                <div class="relative">
                    <div
                        class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
                    >
                        <MagnifyingGlassIcon
                            class="h-5 w-5 text-gray-400"
                            aria-hidden="true"
                        />
                    </div>
                    <input
                        id="search"
                        name="search"
                        class="block w-full rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 leading-5 placeholder-gray-500 focus:border-indigo-500 focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm"
                        placeholder="Rechercher"
                        type="search"
                        :value="searchKey"
                        v-on:input="(event) => this.$emit('onChange', event)"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { Popover, PopoverButton, PopoverPanel } from "@headlessui/vue";

import NavBarItem from "./NavBar/NavBarItem.vue";
import {
    UserIcon,
    HeartIcon,
    ShoppingCartIcon,
} from "@heroicons/vue/24/outline";
import { MagnifyingGlassIcon } from "@heroicons/vue/20/solid";

const props = defineProps({
    searchKey: "",
    cartItems: Array,
    countCartItems: Number,
    totalCartItems: Number,
});
</script>
