<template>
    <RouterLink :to="`/product/` + product.id">
        <div
            class="relative h-56 w-full p-8 overflow-hidden border rounded-md bg-white lg:h-72 xl:h-80"
        >
            <img
                :src="product.image"
                :alt="product.title"
                class="h-full w-full object-contain object-center group-hover:opacity-75"
            />
            <button
                v-on:click.prevent="() => emits('onAddItem', product)"
                class="hidden group-hover:block transition ease-out duration-200 absolute mx-auto left-0 right-0 bottom-4 rounded-md text-center border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50"
            >
                Ajouter au panier
            </button>
        </div>
    </RouterLink>
    <div class="flex mt-2 justify-between">
        <h3 class="text-sm mt-3 text-gray-700 font-semibold">
            {{ product.title }}
        </h3>
        <div
            class="ml-2 flex items-center justify-center rounded-md py-3 px-3 text-gray-400 hover:bg-gray-100 hover:text-gray-500"
        >
            <HeartIcon
                v-if="!props.itemsLiked.find(item => item === product.id)"
                class="h-6 cursor-pointer w-6 flex-shrink-0"
                v-on:click.prevent="() => emits('onSwitchLike', product)"
            />
            <HeartIconSolid
                v-if="itemsLiked.find(item => item === product.id)"
                class="h-6 cursor-pointer w-6 flex-shrink-0 text-red-500"
                v-on:click.prevent="() => emits('onSwitchLike', product)"
            />
        </div>
    </div>
    <p class="mt-1 text-sm text-gray-500 capitalize">
        {{ product.category }}
    </p>
    <div
        class="mt-3 flex flex-col sm:flex-row sm:items-center gap-y-2 sm:gap-y-0 justify-between"
    >
        <div class="flex sm:items-center gap-x-2">
            <div class="flex items-center">
                <StarIcon
                    v-for="rating in [0, 1, 2, 3, 4]"
                    :key="rating"
                    :class="[
                        product?.rating?.rate > rating
                            ? 'text-yellow-400'
                            : 'text-gray-200',
                        'flex-shrink-0 h-4 w-4',
                    ]"
                />
            </div>
            <p class="text-sm text-gray-500">({{ product?.rating?.count }})</p>
        </div>
        <p class="text-sm font-semibold text-indigo-500">
            {{ product.price }}€
        </p>
    </div>
</template>

<script setup>
import { StarIcon, HeartIcon as HeartIconSolid } from "@heroicons/vue/20/solid";
import { HeartIcon } from "@heroicons/vue/24/outline";

const props = defineProps({
    product: {},
    itemsLiked: Array,
});

const emits = defineEmits(["onAddItem", "onSwitchLike"]);
</script>
