<template>
    <NavBar
        :searchKey="searchKey"
        v-on:onChange="searchKeyChange"
        :cartItems="cartItems"
        :countCartItems="countCartItems"
        :totalCartItems="totalCartItems"
    />
    <RouterView
        :searchKey="searchKey"
        :itemsLiked="itemsLiked"
        :cartItems="cartItems"
        v-on:onAddItem="addItemCart"
        v-on:onDeleteItem="deleteItemCart"
        v-on:onSwitchLike="switchLike"
    />
</template>

<script setup>
import { ref, onMounted } from "vue";
import VueCookies from "vue-cookies";
import Swal from "sweetalert2";

import NavBar from "./components/NavBar.vue";

const searchKey = ref("");
const cartItems = ref([]);
const countCartItems = ref(0);
const totalCartItems = ref(0);
const itemsLiked = ref([]);

onMounted(() => {
    getCookies();
});

function searchKeyChange(event) {
    const value = event.target.value;
    searchKey.value = value;
}

function addItemCart(product) {
    if (cartItems.value.find((item) => item.id === product.id)) {
        const isAlreadyAdd = (item) => item.id === product.id;
        cartItems.value[cartItems.value.findIndex(isAlreadyAdd)].quantity++;
    } else {
        cartItems.value.push(product);
        cartItems.value[cartItems.value.length - 1].quantity = 1;
    }
    countCartItems.value++;
    totalCartItems.value = totalCartItems.value + product.price;
    Swal.fire({
        position: "top-end",
        toast: true,
        title: "Ajouté au panier !",
        icon: "success",
        timer: 2000,
        showConfirmButton: false,
    });
    VueCookies.set("cart", cartItems.value);
    VueCookies.set("cartTotal", totalCartItems.value);
    VueCookies.set("cartCount", countCartItems.value);
}

function deleteItemCart(product) {
    if (cartItems.value.find((item) => item.id === product.id)) {
        const isAlreadyAdd = (item) => item.id === product.id;
        if (
            cartItems.value[cartItems.value.findIndex(isAlreadyAdd)].quantity >
            1
        ) {
            cartItems.value[cartItems.value.findIndex(isAlreadyAdd)].quantity--;
            countCartItems.value--;
            totalCartItems.value = totalCartItems.value - product.price;
        } else {
            cartItems.value.splice(cartItems.value.findIndex(isAlreadyAdd), 1);
            countCartItems.value--;
            totalCartItems.value = totalCartItems.value - product.price;
        }
        Swal.fire({
            position: "top-end",
            toast: true,
            title: "Supprimé du panier !",
            icon: "success",
            timer: 2000,
            showConfirmButton: false,
        });
        VueCookies.set("cart", cartItems.value);
        VueCookies.set("cartTotal", totalCartItems.value);
        VueCookies.set("cartCount", countCartItems.value);
    }
}

function switchLike(product) {
    if (itemsLiked.value.find((item) => item === product.id)) {
        let index = itemsLiked.value.indexOf(product.id);
        itemsLiked.value.splice(index, 1);
    } else {
        itemsLiked.value.push(product.id);
    }
    VueCookies.set("likes", itemsLiked.value);
}

function getCookies() {
    let cookieValue = VueCookies.get("likes");
    cookieValue === null
        ? (itemsLiked.value = [])
        : (itemsLiked.value = cookieValue);
    let cartValue = VueCookies.get("cart");
    cartValue === null ? (cartItems.value = []) : (cartItems.value = cartValue);
    let cartTotal = VueCookies.get("cartTotal");
    cartTotal === null
        ? (totalCartItems.value = 0)
        : (totalCartItems.value = cartTotal);
    let cartCount = VueCookies.get("cartCount");
    cartCount === null
        ? (countCartItems.value = 0)
        : (countCartItems.value = cartCount);
}
</script>
